@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>COLEGIO SAN AGUSTIN - BI&Ntilde;AN</h3>

<p><br>is an educational institution run by the Order of Saint Augustine, a religious order whose members are known as Augustinians. In our country, the Augustinians were the pioneers in the Church’s task of evangelization. Colegio San Agustin-Biñan features modern and air-conditioned classrooms and facilities, including a multi-purpose gymnasium. The PAASCU, an accrediting entity that oversees strict compliance with educational standards, has awarded the school the Level III-accredited status.<br><p style="font-style: italic;margin-left: 50%;">"Since love grows within you, so beauty grows. For love is the beauty of the soul." - Saint Augustine </p>
