@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>COLEGIO SAN AGUSTIN - BI&Ntilde;AN</h3>

<address>
    Southwoods Interchange, Brgy. San Francisco,<br />
    4024 Bi&ntilde;an City, Laguna, Philippines (02) 478-0167<br />
    <abbr title="Fax">Fax: (02) 478-0180</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
