@page
@model WebApplication1.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
<div class="card">
    <h5 class="card-header">Student Name</h5>
    <div class="card-body">
        <h5 class="card-title">[Name]</h5>
        <p class="card-text">Year and Course</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>